<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-card/paper-card.html">

<dom-module id="sigespai-ficha-investigador-foto">
    <template>
        <style>
            :host {
                display: block;
            }

            .card-content {
                padding: 3rem auto;
            }

            paper-card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                max-width: 400px;
            }

            .itemNombre {
                box-shadow: -5px 12px 17px -13px rgba(0, 0, 0, 0.45);
                text-align: center;
                font-weight: bold;
                font-size: 1.3rem;
                color: #111;
                padding: .5rem;
                margin: 1rem .5rem;
            }
        </style>
        <iron-ajax auto url="{{url}}" handle-as="blob" last-response="{{foto}}"></iron-ajax>

        <!-- <paper-card image="/images/user.svg" alt="Foto"> -->
        - {{foto}} -
        <paper-card image="{{foto}}" alt="Foto">
            <div class="card-content">
                <div class="itemNombre"> {{nue}} - {{nombre}}</div>
            </div>
        </paper-card>

    </template>

    <script>
        /**
         * `sigespai-ficha-investigador-foto`
         * Muestra la foto y el nombre del investigador
         *
         */
        class SigespaiFichaInvestigadorFoto extends Polymer.Element {
            static get is() { return 'sigespai-ficha-investigador-foto'; }
            static get properties() {
                return {
                    nue: String,
                    nombre: String,
                    url: {
                        type: String,
                        computed: '_getURL(nue)'
                    },
                    foto: {
                        type: String,
                        observer: '_testObserver'
                    }
                };
            }
            _testObserver() {
                console.log('this.foto ==> ', this.foto);
            }
            _getURL(nue) {
                console.log('https://intranet3.ugto.mx/ViviendaSegura/Home/GetFotoAlumno_Empleado/000000?empleado=' + nue);
                this.set('url', 'https://intranet3.ugto.mx/ViviendaSegura/Home/GetFotoAlumno_Empleado/000000?empleado=' + nue);
                return 'https://intranet3.ugto.mx/ViviendaSegura/Home/GetFotoAlumno_Empleado/000000?empleado=' + nue;
            }
        }

        window.customElements.define(SigespaiFichaInvestigadorFoto.is, SigespaiFichaInvestigadorFoto);
    </script>
</dom-module>